<!doctype html>

<head>

<title> MSA Webpage </title>
<meta charset=utf-8>
</head>

	<body>
		<h1> HARBOR MSA Website </h1>
		<h2> Instructions </h2>
		<p> This is the HARBOR MSA website hosted locally from the Raspberry Pi. Click the "Start" button to begin data collection on the MSA. Press "Stop" to stop data collection
		. Press "Save" to save your data</p>
		<button> <a href="/run"> Start </a> </button>
		<button> <a href="/stop"> Stop </a> </button>
		<button> <a href="/download"> Download Data </a> </button>
		
		
	</body>
